extends layout

block content
  h1= title
  p Welcome to #{title}
  div.loginform
   form.form-signin(method="post")
    h1.form-signin-heading.text-muted
    a(href="/api/auth/facebook" class="btn btn-primary btn-block btn-large") Facebook Login
